[submodule "test/third_party/Catch2"]
	path = test/third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "benchmark/third_party/benchmark"]
	path = benchmark/third_party/benchmark
	url = https://github.com/google/benchmark.git
