# The following config file is inspired by Louis Dionne libawful config file.

language: cpp
sudo: false

matrix:
  include:
    - os: linux
      env:
        - COMPILER=clang++-3.6
        - LLVM_VERSION=3.6.2
        - ENABLE_CXX14=true
        - ENABLE_CXX17=false
      addons: { apt: { packages: ["clang-3.6"], sources: ["llvm-toolchain-precise-3.6", "ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=clang++-3.7
        - LLVM_VERSION=3.7.1
        - ENABLE_CXX14=true
        - ENABLE_CXX17=false
      addons: { apt: { packages: ["clang-3.7"], sources: ["llvm-toolchain-precise-3.7", "ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=clang++-3.8
        - LLVM_VERSION=3.8.1
        - ENABLE_CXX14=true
        - ENABLE_CXX17=false
      addons: { apt: { packages: ["clang-3.8"], sources: ["llvm-toolchain-precise-3.8", "ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=clang++-3.9
        - LLVM_VERSION=3.9.1
        - ENABLE_CXX14=true
        - ENABLE_CXX17=false
      addons: { apt: { packages: ["clang-3.9"], sources: ["llvm-toolchain-precise-3.9", "ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=clang++-4.0
        - LLVM_VERSION=4.0.1
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true
      addons: { apt: { packages: ["clang-4.0"], sources: ["llvm-toolchain-trusty-4.0", "ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=clang++-5.0
        - LLVM_VERSION=5.0.0
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true
      addons: { apt: { packages: ["clang-5.0"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=clang++-6.0
        - LLVM_VERSION=6.0.0
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true
      addons: { apt: { packages: ["clang-6.0"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=clang++-7
        - LLVM_VERSION=7.0.0
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true
      addons: { apt: { packages: ["clang-7"], sources: ["llvm-toolchain-trusty-7", "ubuntu-toolchain-r-test"] } }
    - os: linux
      env:
        - COMPILER=clang++-8
        - LLVM_VERSION=8.0.0
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true
      addons: { apt: { packages: ["clang-8"], sources: ["llvm-toolchain-trusty-8", "ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=g++-4.8
        - ENABLE_CXX14=false
        - ENABLE_CXX17=false
      addons: { apt: { packages: ["g++-4.8"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=g++-4.9
        - ENABLE_CXX14=true
        - ENABLE_CXX17=false
      addons: { apt: { packages: ["g++-4.9"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=g++-5
        - ENABLE_CXX14=true
        - ENABLE_CXX17=false
      addons: { apt: { packages: ["g++-5"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=g++-6
        - ENABLE_CXX14=true
        - ENABLE_CXX17=false
      addons: { apt: { packages: ["g++-6"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=g++-7
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true
      addons: { apt: { packages: ["g++-7"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=g++-8
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true
      addons: { apt: { packages: ["g++-8"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: linux
      env:
        - COMPILER=g++-9
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true
      addons: { apt: { packages: ["g++-9"], sources: ["ubuntu-toolchain-r-test"] } }

    - os: osx
      osx_image: xcode10.1
      env:
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true

    - os: osx
      osx_image: xcode9.4
      env:
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true

    - os: osx
      osx_image: xcode9.3
      env:
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true

    - os: osx
      osx_image: xcode9.2
      env:
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true

    - os: osx
      osx_image: xcode9.1
      env:
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true

    - os: osx
      osx_image: xcode9
      env:
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true

    - os: osx
      osx_image: xcode8.3
      env:
        - ENABLE_CXX14=true
        - ENABLE_CXX17=true

install:
  ############################################################################
  # All the dependencies are installed in ${TRAVIS_BUILD_DIR}/deps/
  ############################################################################
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}

  ############################################################################
  # Pick up the overriden compiler if any
  ############################################################################
  - if [[ "${COMPILER}" != "" ]]; then export CXX=${COMPILER}; fi
  - ${CXX} --version

  ############################################################################
  # Install a recent CMake (unless already installed on OS X)
  ############################################################################
  - CMAKE_VERSION=3.8.0
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="https://cmake.org/files/v${CMAKE_VERSION%.[0-9]}/cmake-${CMAKE_VERSION}-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    else
      brew install cmake || brew upgrade cmake
    fi
  - cmake --version

  ############################################################################
  # Install libc++ and libc++abi
  ############################################################################
  - |
    if [[ "${LLVM_VERSION}" != "" ]]; then
      LLVM_DIR=${DEPS_DIR}/llvm
      LLVM_URL="http://llvm.org/releases/${LLVM_VERSION}/llvm-${LLVM_VERSION}.src.tar.xz"
      LIBCXX_URL="http://llvm.org/releases/${LLVM_VERSION}/libcxx-${LLVM_VERSION}.src.tar.xz"
      LIBCXXABI_URL="http://llvm.org/releases/${LLVM_VERSION}/libcxxabi-${LLVM_VERSION}.src.tar.xz"
      mkdir -p ${LLVM_DIR} ${LLVM_DIR}/build ${LLVM_DIR}/projects/libcxx ${LLVM_DIR}/projects/libcxxabi
      travis_retry wget -O - ${LLVM_URL}      | tar --strip-components=1 -xJ -C ${LLVM_DIR}
      travis_retry wget -O - ${LIBCXX_URL}    | tar --strip-components=1 -xJ -C ${LLVM_DIR}/projects/libcxx
      travis_retry wget -O - ${LIBCXXABI_URL} | tar --strip-components=1 -xJ -C ${LLVM_DIR}/projects/libcxxabi
      (cd ${LLVM_DIR}/build && cmake .. -DCMAKE_INSTALL_PREFIX=${LLVM_DIR}/install)
      (cd ${LLVM_DIR}/build/projects/libcxx && make install -j2)
      (cd ${LLVM_DIR}/build/projects/libcxxabi && make install -j2)
      export CXXFLAGS="-isystem ${LLVM_DIR}/install/include/c++/v1"
      export LDFLAGS="-L ${LLVM_DIR}/install/lib -l c++ -l c++abi"
      export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${LLVM_DIR}/install/lib"
    fi

script:
  - cd "${TRAVIS_BUILD_DIR}"
  - cmake . -DKANGARU_BUILD_EXAMPLES=true -DKANGARU_TEST=true -DKANGARU_TEST_CXX14="${ENABLE_CXX14}"  -DKANGARU_TEST_CXX17="${ENABLE_CXX17}"
  - cmake --build . -- -j2
  - env CTEST_OUTPUT_ON_FAILURE=1 ctest .
